<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matías Sánchez - Contacto</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <header class="banner">
        <div class="bannerbtn">
            <a href="#">MI EXPERIENCIA</a>
            <a href="contact.html">CONTACTO</a>
            <a href="../index.html">VOLVER</a>
        </div>
</header>
<div id="text-exp">
    Mi nombre es Matías, tengo 24 años y soy de Paysandú, Uruguay.
    Soy estudiante avanzado de la carrera Tecnólogo en Informática
    en la Universidad Tecnológica del Uruguay. Tengo aptitudes en
    programación web utilizando lenguajes como HTML, CSS, PHP, entre otros,
    como en creación de aplicaciones de escritorio en Java y manejo y creación de 
    bases de datos SQL.
    Siempre estoy aprendiendo y me gustaría trabajar contigo!
    
    Mira mis prototipos en la sección "Mis proyectos"
   
   
</div>
<br><br><br><br>
<div class="bot-banner">
    <p>Matías Sánchez - mati.webdev.contact@gmail.com</p>
</div>
</body>
</html>