<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matías Sánchez - Contacto</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <header class="banner">
        <div class="bannerbtn">
            <a href="../views/experience.html">MI EXPERIENCIA</a>
            <a href="../views/contact.html">CONTACTO</a>
            <a href="../index.html">VOLVER</a>
        </div>
</header>
<div id="text-contact">
    MIS PROTOTIPOS<br><br>
</div>
<div class="bannerprojects">
    <div class="container">
        <img src="../img/exmpl1.webp" alt="Imagen 1">
        <div id="text-desc">
            Una página de venta de ropa, con una sección principal,
            un catálogo, una sección de contacto y un botón de ofertas.
        </div>
        
    </div>
</div>
<div id="text-contact">
<div class="btncontact-container">
   <a href="https://matiassaitama.github.io/clothingWebsite/" class="btncontact">VISITAR SITIO</a>
</div>
</div>
        <br><br><br><br>
<div class="bot-banner">
    <p>Matías Sánchez - mati.webdev.contact@gmail.com</p>
</div>
   


</body>
</html>